
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
# /var/ test
# /vendor/ test
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
# /phpunit.xml test
# .phpunit.result.cache test
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
# .phpunit.result.cache test
# /phpunit.xml test
###< symfony/phpunit-bridge ###
